.contact-deco {
  box-sizing: boder-box;
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 10px 120px;
  color: #fff;
  text-align: center;
}
.contact-wrapper {
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 5% 0 0 0;
  padding: 0;
}
.contact-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  margin: 3% -10% 0;
  background-color: rgba(216, 128, 133, 0.787);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
  border: 5px rgb(245, 221, 221) solid;
}

.contact-title {
  letter-spacing: 7px;
  padding: 10% 0;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.contact-dis, .email{
    padding: 0 10%;
}
.contact-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.contact-wrapper .email {
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.contact-links .linkedin,
.twitter {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links a {
  text-decoration: none;
  color: #1da1f2;
}

.contact-links .linkedin a {
  color: #0072b1;
}

@media screen and (min-width: 736px) {
  .contact-wrapper {
    padding-bottom: 20% 0 20% 0;
    text-align: center;
  }
  .contact-title {
    font-size: 2rem;
  }
  .contact-links {
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {

.contact-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 7rem;
}
.contact-links .linkedin,
.twitter {
  height: 150px;
  width: 150px;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
.contact-dis, .email{
    font-size: 1.5rem;
    width: 100%;
}
}