.contact-wrapper{
    font-family: 'Lato', sans-serif;
    padding: 0px 40px 40px 40px;

}
.contact-title {
    letter-spacing: 7px;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.contact-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.contact-links .linkedin, .twitter{
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links a{
    text-decoration: none;
    color:#1DA1F2;
}

.contact-links .linkedin a{
    color:#0072b1;
}

@media screen and (min-width: 736px) {
 .contact-wrapper{
     padding : 0 20%;
     text-align: center;
 }
}