@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");


.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(1, 1, 1, 1); */
    position: relative;;
    /* border-bottom: 5px solid #5079af; */
}
.container p {
    color: rgb(65, 64, 64);
}

.container .japa {
    position: absolute;
    cursor: pointer;
    top: 0%;
    right: 4%;
    width: 100px;
    text-align: right;
    font-size: 1rem;
    font-family: "M PLUS Rounded 1c";
    letter-spacing: 2px;
    opacity: 1;
    z-index: 5;
    color:rgb(246, 244, 244) ;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 65%;
    transform: translate(-50%, -50%);
}

.title p{
    position: relative;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: helvetica;
    color: black;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    letter-spacing: 6px;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid black;
}


.title h6{
    position: relative;
    top: 60%;
    left: 50%;
    /* height: 100vh; */
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 10px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}
.navwrapper{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.navmenu{
    position: relative;
    width: 100vw;
    height: 120px;
}


.navmenu .navcontroller{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 60px;
    height: 60px;
    font-size: 17px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    z-index: 3;
}

.navmenu .navclosebtn{
    display: none;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.navmenu .navopenbtn{
    color: black;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.navmenu .navbtn{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 90px;
    opacity: 0;
    cursor: pointer;
    transition: all ease-out 1.6s;
}

.navbtn p{
   margin: 0;
   z-index: 4;
   color: black;
   letter-spacing: 7px;
   font-family: 'Roboto', sans-serif;
   transition: all ease-out 0.3s;
}
.navmenu .navopenbtn:hover{
    background-color: rgb(55, 129, 79);
    color: white;   
}

.navmenu.active .navopenbtn{
    display: none;
}

.navmenu.active .navclosebtn{
    display: block;
    opacity: 1;
}

.navmenu.active .navclosebtn:hover{
    background-color: rgb(55, 129, 79);
    color: white;
    
}

.navmenu.active div:nth-child(2){
    bottom: 145%;
    left: 0%;
    opacity: 1;
    /* transform: rotateY(360deg); */
}

.navmenu.active div:nth-child(3){
    bottom: 75%;
    left: 0%;
    opacity: 1;
    /* transform:  rotateY(0deg); */
}

.navmenu.active div:nth-child(4){
    bottom: 0%;
    left: 0%;
    opacity: 1;
    /* transform:  rotateY(0deg); */
}

.navmenu.active :hover{
    background-color: rgb(55, 129, 79);
    color: white;
}

@media screen and (min-width: 1224px) {

img{
    /* padding-top: 50px; */
    object-position: right top;
    width: 100vw;
    object-fit: cover;
    height: 50%;
    /* filter: blur(1px); */
}


}
@media screen and (max-width: 1223px) {

img {
    width: 100vw;
    object-fit: cover;
    height: 45%;
    display: block;
    opacity: 0.8;
    object-position: 75% top;
}

}
